
.tabelBuah{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin: auto;
}
table{
    border:solid 1px black
}
th{
    background-color: #a3a3a3;
    text-align: jus;
}
td{
    padding: 0px;
    background-color: #ffae3d;
    vertical-align: middle;
}
th,td{
    width: 45%;
    
}
.berat{
    width: 100px;
}
