.listTugas li{
    display: inline;
    padding: 10px;
    list-style-type: none;
}
.listTugas li a{
    text-decoration: none;
}
a:cover{
    color: darkcyan;
}
.colored nav{
    background-color: peachpuff;
    padding: 20px;
}