.App {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container{
  max-width: 1080px;
  margin: auto;
  
}
.pembelianBuah{
  border: solid 1px black;
  border-radius: 15px;
  margin:25px 20%;
  
}
.pembelianBuah1{
  margin:25px 20%;
  
}
form{
  margin:20px 25px;
}
h1{
  text-align:center;
  font-size: 35px;
}
th,td{
  vertical-align: bottom;
  padding-bottom: 15px;
  font-size: 20px;
}
td{
  padding-left: 30px;
}
.text{
 width:200px;
 padding: 4px;
}
button{
  padding: 3px 9px;
  border-radius:20px ;
}


.tabel10{
  width: 100%;
  border: solid 1px black;  
}
.thead{
  background-color: #bdbdbd;
}
.thead th{
  text-align: center;
}
.tbody{
  background-color: #ffab2e;
}
.tbody td{
  padding: 0;
}




.card{
  flex: 1;
  max-width: 500px;
  height: 50px !important;
 
}
.card-x{
  flex-basis: 50%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 25px;

}
.content{
  margin:15px;
}
img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
